.header {
    position: absolute;
    padding: 26px 100px 5px 100px;
    min-height: 40px;
    width: 100%;
    background: $main-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__logo {
        img {
            width: 100%;
        }
    }
    &__menu {
        display: flex;
    }
    &__item {
        margin-left: 30px;
        a {
            color: #fff;
            font-size: 16px;
            font-weight: 500;
        }
    }
    &__hamburger {
        display: none;
    }
}